<ion-content >
  <div class="ion-text-center">
    <img class="img1" src="../../assets/img/login.png">
    <h1>Friendly Farmer</h1>
  </div>
  
    <div class="container">
      <div class="form ion-text-center">
        <form #form="ngForm" (ngSubmit)="login(form.value)">
        <h2>Login </h2>
        
        <ion-item lines='none'>
          <ion-input name="mobile_no" ngModel type="number" placeholder='Mobile'></ion-input>
        </ion-item>
    
        <ion-item lines='none'>
          <ion-input placeholder='Password' [type]="passwordType" clearOnEdit="false" name="password" ngModel></ion-input>
          <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
        </ion-item>
        <ion-button type="submit" expand="block" fill="solid" mode="ios" class="login-btn">Login</ion-button>
        <br>
        <ion-button fill="clear" class="signup-btn" routerLink="/signup">
          Sign Up<ion-icon name="arrow-forward-sharp"></ion-icon>
        </ion-button>
          
        
      </form>
      </div>
    </div>
  </ion-content>